<!-- Footer -->
<footer>
  <div>
    <h3><a id="vest-site" href="http://www.vesthq.com" target="_blank">Curated by <span>Vest</span><span>HQ</span></a>
    </h3>

    <div>
      <a href="https://twitter.com/intent/follow?original_referer=http%3A%2F%2F127.0.0.1%3A4000%2F&ref_src=twsrc%5Etfw&region=follow_link&screen_name=thisisvest&tw_p=followbutton" target="_blank">
        <img src="/assets/img/twitter-with-circle.svg" alt="twitter share" />
      </a>

      <a href="https://www.facebook.com/sharer/sharer.php?u=fintechtogo.com" target="_blank">
        <img src="/assets/img/facebook-with-circle.svg" alt="facebook share" />
      </a>

      <a href="mailto:?subject=Check out this site&amp;body=Hi,I think you'll like this - http://www.fintechtogo.com."
         title="Share by Email">
        <img src="assets/img/mail.svg" alt="mail share">
      </a>

      <a href="/feed.xml" target="_blank">
        <img src="/assets/img/rss.svg" alt="rss feed" />
      </a>
    </div>
  </div>

  <h2>
    The best way to keep up with the <a href="https://twitter.com/search?src=typd&q=%23fintechboom" target="_blank">#fintechboom</a>
    <br>
    7 posts every 7 days.
  </h2>

</footer>
