<!-- Our main articles -->
<section class="articles">
  {% for article in site.posts limit: 1 %}
    <article class="media">
      <span></span>

      <div class="details">
        <div class="lengh">{{ article.article-lengh }}</div>

        {% if article.tag == "article" %}
          <a class="article tag" href="/articles">{{ article.tag }}</a>
          {% elsif article.tag == "podcast" %}
            <a class="podcast tag" href="/podcasts">{{ article.tag }}</a>
          {% elsif article.tag == "infographic" %}
            <a class="infographic tag" href="/infographics">{{ article.tag }}</a>
          {% elsif article.tag == "report" %}
            <a class="report tag" href="/reports">{{ article.tag }}</a>
          {% elsif article.tag == "video" %}
            <a class="video tag" href="/videos">{{ article.tag }}</a>
        {% endif %}
      </div>

      <a class="source" href="{{ article.article-link }}" target="_blank">
        <div class="title">
          {{ article.article-title }}
        </div>
        <div class="author">
          {{ article.article-author }}
        </div>
      </a>
    </article>
  {% endfor %}

  {% for article in site.posts limit: 1 offset: 1%}
    <article class="media">
      <span></span>
      <span></span>

      <div class="details">
        <div class="lengh">{{ article.article-lengh }}</div>

        {% if article.tag == "article" %}
          <a class="article tag" href="/articles">{{ article.tag }}</a>
          {% elsif article.tag == "podcast" %}
            <a class="podcast tag" href="/podcasts">{{ article.tag }}</a>
          {% elsif article.tag == "infographic" %}
            <a class="infographic tag" href="/infographics">{{ article.tag }}</a>
          {% elsif article.tag == "report" %}
            <a class="report tag" href="/reports">{{ article.tag }}</a>
          {% elsif article.tag == "video" %}
            <a class="video tag" href="/videos">{{ article.tag }}</a>
        {% endif %}
      </div>

      <a class="source" href="{{ article.article-link }}" target="_blank">
        <div class="title">
          {{ article.article-title }}
        </div>
        <div class="author">
          {{ article.article-author }}
        </div>
      </a>
    </article>
  {% endfor %}

  {% for article in site.posts limit: 1 offset: 2 %}
    <article class="media">
      <span></span>
      <span></span>
      <span></span>

      <div class="details">
        <div class="lengh">{{ article.article-lengh }}</div>

        {% if article.tag == "article" %}
          <a class="article tag" href="/articles">{{ article.tag }}</a>
          {% elsif article.tag == "podcast" %}
            <a class="podcast tag" href="/podcasts">{{ article.tag }}</a>
          {% elsif article.tag == "infographic" %}
            <a class="infographic tag" href="/infographics">{{ article.tag }}</a>
          {% elsif article.tag == "report" %}
            <a class="report tag" href="/reports">{{ article.tag }}</a>
          {% elsif article.tag == "video" %}
            <a class="video tag" href="/videos">{{ article.tag }}</a>
        {% endif %}
      </div>

      <a class="source" href="{{ article.article-link }}" target="_blank">
        <div class="title">
          {{ article.article-title }}
        </div>
        <div class="author">
          {{ article.article-author }}
        </div>
      </a>
    </article>
  {% endfor %}

  {% for article in site.posts limit: 1 offset: 3 %}
    <article class="media">
      <span></span>
      <span></span>
      <span></span>
      <span></span>

      <div class="details">
        <div class="lengh">{{ article.article-lengh }}</div>

        {% if article.tag == "article" %}
          <a class="article tag" href="/articles">{{ article.tag }}</a>
          {% elsif article.tag == "podcast" %}
            <a class="podcast tag" href="/podcasts">{{ article.tag }}</a>
          {% elsif article.tag == "infographic" %}
            <a class="infographic tag" href="/infographics">{{ article.tag }}</a>
          {% elsif article.tag == "report" %}
            <a class="report tag" href="/reports">{{ article.tag }}</a>
          {% elsif article.tag == "video" %}
            <a class="video tag" href="/videos">{{ article.tag }}</a>
        {% endif %}
      </div>

      <a class="source" href="{{ article.article-link }}" target="_blank">
        <div class="title">
          {{ article.article-title }}
        </div>
        <div class="author">
          {{ article.article-author }}
        </div>
      </a>
    </article>
  {% endfor %}

  {% for article in site.posts limit: 1 offset: 4 %}
    <article class="media">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>

      <div class="details">
        <div class="lengh">{{ article.article-lengh }}</div>

        {% if article.tag == "article" %}
          <a class="article tag" href="/articles">{{ article.tag }}</a>
          {% elsif article.tag == "podcast" %}
            <a class="podcast tag" href="/podcasts">{{ article.tag }}</a>
          {% elsif article.tag == "infographic" %}
            <a class="infographic tag" href="/infographics">{{ article.tag }}</a>
          {% elsif article.tag == "report" %}
            <a class="report tag" href="/reports">{{ article.tag }}</a>
          {% elsif article.tag == "video" %}
            <a class="video tag" href="/videos">{{ article.tag }}</a>
        {% endif %}
      </div>

      <a class="source" href="{{ article.article-link }}" target="_blank">
        <div class="title">
          {{ article.article-title }}
        </div>
        <div class="author">
          {{ article.article-author }}
        </div>
      </a>
    </article>
  {% endfor %}
</section>
